<ul class="more-info-container">
  <li class="info-block">
    <div class="info-block-label">
      <img src="assets/min.png" alt="min-temperature" />
      <span>min</span>
    </div>
    <p class="info-block-value">
      {{ weatherData.main.temp_min | number: '1.0-0' }} °C
    </p>
  </li>
  <li class="info-block">
    <div class="info-block-label">
      <img src="assets/max.png" alt="max-temperature" />
      <span>max</span>
    </div>
    <p class="info-block-value">
      {{ weatherData.main.temp_max | number: '1.0-0' }} °C
    </p>
  </li>
  <li class="info-block">
    <div class="info-block-label">
      <img src="assets/humidity.png" alt="humidity" />
      <span>humidity</span>
    </div>
    <p class="info-block-value">{{ weatherData.main.humidity }} %</p>
  </li>
  <li class="info-block">
    <div class="info-block-label">
      <img src="assets/wind.png" alt="wind-speed" />
      <span>wind</span>
    </div>
    <p class="info-block-value">{{ weatherData.wind.speed }} km/h</p>
  </li>

  <li class="info-block">
    <div class="info-block-label">
      <img src="assets/sunrise.png" alt="sunrise" />
      <span>sunrise</span>
    </div>
    <p class="info-block-value">
      {{ weatherData.sys.sunrise }}
    </p>
  </li>
  <li class="info-block">
    <div class="info-block-label">
      <img src="assets/sunset.png" alt="sunset" />
      <span>sunset</span>
    </div>
    <p class="info-block-value">
      {{ weatherData.sys.sunset }}
    </p>
  </li>
</ul>
